<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OnlineShopping">

	<test name="Online">
		<classes>
			<class name="Cucumber_Runner.Runner" />

		</classes>
	</test>

</suite>


<!-- 




	<test name="Shopping">
		<classes>
			
			
			<class name="TesTCases.CheapestPoplar" />
			
			<class name="TesTCases.ExpensiveSaller" />
			
			<class name="TesTCases.WomenDresses" />
			
			<class name="TesTCases.Card" />
			
			
			
		</classes>
	</test>


 -->